/* 
* Andre C. Newland
* anewl01
* Assignment: First Project: personal Portfolio 
*/


/* Rules for Css sheet

	At least 5 rules
	NO fames
	NO styling element ALL stylings are made in CSS
	NO 
*/


body {
    /*background-color: #d0e4fe;*/
    background-color: #6DBDD6;

}

h1 {
    color: #FFE658;
    text-align: center;
    font-family: Georgia;
    margin-left: 20%;
	margin-right: 20%;
}

p {
    font-family: "Times New Roman";
    font-size: 20px;
}
 
/*attempting to create some sort of button with background color border shading etc*/
.button {
	background-color: #B71427;
	font-family: Georgia;
}

.stress {
	font-size: 150%;
}

.bold{
	font-weight: bold;
}

.italic{
	font-style: italic;
}
ul#list-nav {
  list-style:none;
  /*margin:20px;*/
  margin-left: 20%; 
  margin-right: 20%; 
  padding:0;
  width:525px
}

ul#list-nav li {
  display:inline
}

ul#list-nav li a {
  text-decoration:none;
  padding:5px 0;
  width:100px;
  /*background:#B71427;*/
  background:#404040;
  color:#FFE658;
  float:left;
  text-align:center;
  border-left:1px solid #fff;
}

ul#list-nav li a:hover {
  background:#404040;
  background:#B71427;
  color:#000
}

table{
	width: 100%;
	border-spacing: 5px;
}

td{
	padding: 15px;
}


ul.b{
	list-style-type: circle;
}






/*

#404040 black 
#6DBDD6 blue
#B71427 red
#FFE658 yellow
*/